name: linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
defaults:
  run:
    working-directory: game/linux    

jobs:
  build:
    runs-on: ubuntu-20.04
       
    steps:
    - uses: actions/checkout@v2
    - name: build king's valley           
      run: |      
        sudo apt install libsdl2-dev libsdl2-2.0-0 -y;
        sudo apt install libjpeg-dev libwebp-dev libtiff5-dev libsdl2-image-dev libsdl2-image-2.0-0 -y;
        sudo apt install libmikmod-dev libfishsound1-dev libsmpeg-dev liboggz2-dev libflac-dev libfluidsynth-dev libsdl2-mixer-dev libsdl2-mixer-2.0-0 -y;
        sudo apt install libfreetype6-dev libsdl2-ttf-dev libsdl2-ttf-2.0-0 -y;
        make        
